@use "@/assets/scss" as *;

.card {
  display: grid;
  justify-items: center;
  gap: toRem(20);
  padding: toRem(20);
  background-color: $clr-white;
  border-radius: toRem(10);

  p,
  a {
    @include line-clamp(1);
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms;

    &:hover {
      text-decoration: underline;
    }
  }
}

.secondary {
  display: grid;
  justify-items: center;
}
